<%= simple_form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_mesages">
          <ul>
            <div class='alert alert-info alert-danger'>
              <h2><%= t('user.new_user_error') %></h2>
              <% for message in @user.errors.full_messages %>
                  <li><%= message%></li>
              <% end %>
            </div>
          </ul>
        </div>
    <% end %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :locale, as: :select, collection: I18n.available_locales %>
    <%= f.button :submit, class:"btn btn-lg btn-success btn-block"%>
<% end %>
