<%= semantic_form_for @card, url:{controller: 'home', action: 'check'} do |f| %>
    <%= f.input :original_text, input_html:{ :value => nil} %>
    <%= f.input :id, as: :hidden, value: @card.id %>
    <%= f.input :timer, :as => :hidden, html: {id: :timer} %>
    <h2>
      <%= @card.translated_text %>
    </h2>
    <% if @card.image.nil? %>
      <%= image_tag @card.image.url(:medium) %>
    <% end %>
    <%= f.action :submit, button_html:{class: "btn btn-lg btn-success btn-block" }  %>
<% end %>


<script type="text/javascript">
    $( document ).ready(function() {
        var timer = 0;
        setInterval(function () {
            ++timer;
            document.getElementById("card_timer").value = timer;
        }, 1000);
    });
</script>
