<%= simple_form_for @card do |f| %>
    <% if flash[:notice] %>
        <div class='alert alert-info alert-danger'>
          <% for message in @card.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </div>
    <% end %>
    <%= f.input :original_text %>
    <%= f.input :translated_text%>
    <%= f.input :review_date %>
    <%= f.association :deck %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, class:"btn btn-lg btn-success btn-block"%>
<% end %>
