<h1><%= t('all_cards.all_cards') %></h1>

<table class="table table-striped">
  <tr>
    <th><%= t('all_cards.original_text') %></th>
    <th><%= t('all_cards.translated_text') %></th>
    <th><%= t('all_cards.review_date') %></th>
    <th><%= t('all_cards.edit_card') %></th>
    <th><%= t('all_cards.delete_card') %></th>
  </tr>

  <% @cards.each do |card| %>
      <tr>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>

          <td><%= link_to t('all_cards.edit_card'), edit_card_path(card) %></td>
          <td><%= link_to t('all_cards.delete_card'), card_path(card.id),
                          method: :delete,
                          data: { confirm: t('all_cards.confirm') } %></td>
          <% end %>
      </tr>
</table>
