<% if flash[:notice] %>
    <div class='alert alert-info'>
      <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
      <% end -%>
    </div>
<% end %>
<h1><%= t('all_decks.all_decks') %></h1>
<table class="table table-striped">
  <tr>
    <th><%= t('all_decks.name') %></th>
    <th><%= t('all_decks.active') %></th>
    <th><%= t('all_decks.edit_deck') %></th>
    <th><%= t('all_decks.delete_deck') %></th>
  </tr>

  <% @decks.each do |deck| %>
      <tr>
        <td><%= deck.name %></td>
        <td><%= deck.active %></td>

        <td><%= link_to t('all_decks.edit_deck'), edit_deck_path(deck) %></td>
        <td><%= link_to t('all_decks.delete_deck'), deck_path(deck.id),
                        method: :delete,
                        data: { confirm: t('all_decks.confirm') } %></td>
  <% end %>
  </tr>
</table>
