<header class="clearfix">
  <h1><%= link_to t('app.flashcards'), root_path %></h1>

  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to t('app.all_cards'), cards_path %></li>
    <% if current_user %>
    <li role="presentation"><%= link_to t('app.new_card'), new_card_path %></li>
    <li role="presentation"><%= link_to t('app.new_deck'), new_deck_path %></li>
    <li role="presentation"><%= link_to t('app.all_decks'), decks_path %></li>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= t('app.account') %>
           <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li> <%= "#{t('app.logged')} #{current_user.email}"%><%  %></li>
            <li><%= link_to t('app.settings'), edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t('app.log_out'), logout_path %>
            </li>
          </ul>
        </li>
    <% else %>
        <li role="presentation"><%= link_to t('app.sign_in'), signup_path %></li>
        <li role="presentation"><%= link_to t('app.log_in'), login_path %></li>
        <li role="presentation"><%= link_to t('app.oauth_login'), auth_at_provider_path(:provider => :twitter) %></li>
        <li role="presentation">
          <% if I18n.locale == I18n.default_locale %>
              <%= link_to t('app.switch'), locale: 'en' %>
          <% else %>
              <%= link_to t('app.switch'), locale: 'ru' %>
          <% end %>
        </li>
    <% end %>

  </ul>
</header>
