<!DOCTYPE html>
<html>
  <head>
    <title><%= t('app.flashcards') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application'%>
    <script src='http://code.jquery.com/jquery.js'></script>
  </head>

  <body>
    <section id="container">
      <%= render 'layouts/header' %>
      <%= yield %>
    </section>
  </body>
</html>
